<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://demodensappservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e64e661c-4dae-4e55-941e-07479d1e6cf5/resourcegroups/DemoResources/providers/Microsoft.Web/sites/demodensappservice</ResourceId>
    <UserName>$demodensappservice</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://demodensappservice.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>